body{
    background: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    text-transform: capitalize;
    font-size: .7em;
    font-weight: bold;
    text-align: left; 
    }
    .container{
    margin : 0 auto;
    width: 460;
    padding: 40px;
    position:left;
    }
    
    input{
    top: 2px;
    padding: 10px 30px;
    border: 5px;
    background: #EAECF7;
    color: black;
    width: 30em;
    position: left;
    text-align: left;
    }
    
    select{
    top: 2px;
    padding: 10px 30px;
    border: 5px;
    background: #CFCFCF;
    color: black;
    width: 30em;
    position: left;
    }
    
    textarea{
    top: 2px;
    padding: 20px 60px;
    border: 5px;
    background: #CFCFCF;
    color: black;
    width: 30em;
    position: left;
    }
    
    .botao{
    border: none;
    background:#858DBB;
    padding: 7px;
    color: white;
    border-radius: 2px;
    text-transform: uppercase;
    margin: 15px 20px 0;
    width: 8em;
    position: relative;
    box-shadow: 0 5px #EAECF7;
    cursor: pointer;
    position:left;
    }
    
    .botao:houver{
    top:2px;
    box-shadow: 0 3px #ba3c50;
    }
    
    .geral {
        
    width:1000px;
        
    height: 100px;
        
    margin:0 auto; 
    position:center;
    text-align:left;
    font-size: 10px; 
    background:#F18C8E;
     
      
    
    }
    
    .content
    {
        
    display: table-cell;
        
    width: 1000px;
        
    padding: 20px;
    
    }
    
    aside
    {
        
    display: table-cell;
       
     width: 360px;
        
    height:510px;
        
    background-color:#CFCFCF;
        
    padding-right: 20px;
        
    align-content: left;
    
    }
    
    
    h1{
        
    font-family: Georgia, 'Times New Roman', Times, serif;
        
    color: black;
        
    text-align: letf;
        
    font-size: 30px
    ;
    }
    
    .h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    text-align : left;
    }
    
    a{
        
    font-family: Georgia, 'Times New Roman', Times, serif;
       
    text-decoration: none;
        
    color: #141919;
    
    text-align: left;
    }
    
    a:hover
    {
        
    color: #FFD700;
    
    }
    
    .centerNav
    {
        
    text-align: left;
        
    font-size: 30px
    
    }
    
    .indentNav
    {
        
    margin-left: 150px;
    
    }
    
    aside
    {
        
    margin-left: 300px;
    
    }
    
    #nav
    {
        
    margin: 5px;
        
    padding: 0;
       
     float: left;  
    
    }
    
    
    #header
    {
        
    height: 150px;
       
     background: #CFCFCF;
        
    margin: 10px 5px;
    
    }

    
    .even {
      background-color: #E6E6FA;
    }
    tr:nth-child(even) {
        background-color: #E6E6FA ;
    }
    tr:hover {
      background-color: #8A2BE2  ;
      color: #fff;
    }
    thead tr:hover {
      background-color: transparent;
      color: inherit;
    }
    table {border-collapse: collapse;
      text-align: center;
      font-family: Georgia, 'Times New Roman', Times, serif;
    }
    
    table tr td {
        border:1px solid #8B8378;
        font-size: 16px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    
    table td {
        cursor: pointer;
    }
    